  :root {
        --bg-primary: #faedcd;
        --bg-secondary: #fce5ad;
        --red-pastel-1: #5d0f17;
        --red-pastel-2: #640a13;
        --text: #4a2c2a;
        --text-light: #faedcd;
        --white: #ffffff;
        --transition: 0.3s ease;
      }

      body.dark-mode {
        --bg-primary: #121212;
        --bg-secondary: #1a1a1a;
        --text: #e0e0e0;
        --white: #1e1e1e;
      }
       * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Courier New", Courier, monospace;
      }