:root {
    --bg-primary: #faedcd;
    --bg-secondary: #fce5ad;
    --red-pastel-1: #5d0f17;
    --red-pastel-2: #640a13;
    --red-pastel-static: var(--red-pastel-1);
    --text: #4a2c2a;
    --text-light: #faedcd;
    --text-light-static: var(--text-light);
    --white: #ffffff;
    --white-static: var(--white);
    --transition: 0.3s ease;
    --icon-store: url("/Images/store_icon.png");
    --icon-login: url("/Images/login_icon.png");
    --icon-basket: url("/Images/basket_icon.png");
    color-scheme: light;
    --transition: 0.3s ease;
}

html.dark-mode {
    color-scheme: dark;
}

body.dark-mode {
    --bg-primary: #121212;
    --bg-secondary: #1a1a1a;
    --red-pastel-1: #e0e0e0;
    --text: #e0e0e0;
    --text-light: #1e1e1e;
    --white: #1e1e1e;
    --icon-store: url("/Images/store_dark.png");
    --icon-login: url("/Images/login_dark.png");
    --icon-basket: url("/Images/basket_dark.png");
   
   
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}
body {
    background-color: var(--bg-primary);
    color: var(--text);
    line-height: 1.6;
    transition:
        background-color var(--transition),
        color var(--transition);
}

.basket-wrapper {
    position: relative;
    display: inline-block;
}

.basket-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background: red;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 4px 7px;
    border-radius: 50%;
    min-width: 18px;
    text-align: center;
    line-height: 1;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Light mode */
::-webkit-scrollbar-track {
    background: #fce5ad;
}

::-webkit-scrollbar-thumb {
    background: #5d0f17;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #640a13;
}

/* Dark mode */
html.dark-mode ::-webkit-scrollbar-track {
    background: #0a0a0a !important;
}

html.dark-mode ::-webkit-scrollbar-thumb {
    background: #3a3a3a !important;
    border-radius: 4px;
}

html.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #555555 !important;
}





